.input-wrapper{
    display: inline-block;
    .input-user{
        border-radius: 18px;
        width: 100%;
    }
    .login-btn{
        margin-top: 20px;
    }
    .error-message{
        color: #950101;
        font-weight: 500px;
        background-color: #FF5C58;
        padding: 5px;
        margin-top: 10px;
        border-radius: 3px;
    }
}